:root {
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);
    

    --White: hsl(0, 0%, 100%);
    --Off_white: hsl(0, 0%, 94%);
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);
    --Off_black: hsl(0, 0%, 8%);

    --FsInputs:32px  ; /* - Font size (inputs): 32px    */
    }


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Siempre inicializar estas etiquetas en cada proyecto */
    
 
}
/* Truco para calcular px utilizando rem */
html{
    font-size: 62.5%;
    /* Al realizar esto siempre nuestro font-size será de 10px */
    /* Si se quiere 20px, se pondrá 2rem, si se quieren 38px, se pondrán 3.8rem */
    /* width: 375px; */

}

body {
    display: grid;
    place-items: center;
    
    /* poniendole ancho y largo a el body este el section se ubica en el centro de la pantalla tanto horizontal como vertical */
    width: 100vw ;
    height: 100vh;
    
}

main {
    display: flex;
    flex-flow: column;
    background-color: var(--White);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    max-width: 85rem;
    height: 65rem;

    padding: 0rem 6rem 3rem 6rem;
    border-radius: 4rem 4rem 22rem 4rem;
    border: solid;
}

/* fechas */

.fechaDdMmAaaa {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    margin-top: 6rem;
    width: 54.5rem;
    height: 10rem;
}

.ingresoFecha {
    display: flex;
    flex-flow: column;
    justify-items: center;
    color: var(--Smokey_grey);
    width: 16rem;
    height: 11rem;
}

.ingresoFecha label:nth-child(1){
    text-justify: center;
    text-align: start;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;

    text-transform: uppercase;
    letter-spacing: 0.4rem;

}

input{
    font-size: var(--FsInputs);
    /* color: var(--Light_grey); */
    font-weight: 800;
    border-radius: 1rem;
    height: 7rem;
    text-align: start;
    

    padding: 0.8rem 0rem 0rem 2rem;
}

.alerta {
    color:var(--Light_red)
}

.alertaBorde {
    border-color: var(--Light_red);
}

.resultadoFecha {
    
        display: flex;
        flex-flow: column;
}

.resultado {
    display: flex;
    flex-flow: row;
}

.intermedioResultado {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
    height: 9.8rem;
    width: 72.5rem;
}

.intermedioResultado div:nth-child(1){
    height: 50%;
    width: 90%;
    border-bottom: solid 1px;
    border-color: var(--Smokey_grey);
}


.svgContainer {
    overflow: visible;
    display: grid;
    place-items: center;
    background-color: var(--Purple);
    border-radius: 50%;
    width: 9.8rem; 
    height: 9.8rem; /* Cambiar el tamaño de la altura según lo necesites */
  }
  
 /*  .icon path {
    /* stroke fue el atributo que dio color 
    stroke: var(--Purple); 
} */


.resultadoFecha {
    flex-direction: column-reverse;
    align-items: right;
    justify-content: center;
    

    font-size: 11rem;
    font-weight: 1000;
    font-style: italic;
}

.resultado {
    align-items: center;
    justify-items: center;
    height: 9rem;
    margin-bottom: 3rem;
}

.resultado :first-child{
    height: 9rem;
    letter-spacing: 1rem;
    color: var(--Purple);
    text-align: end;

}

.resultado p {
    
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100%; /* Ajusta la altura según tus necesidades */

}


.oculto {display: none;}

@media ( max-width: 376px ) {
    main {
        
    
        max-width: 85rem;
        height: 65rem;
    
        padding: 0rem 6rem 3rem 6rem;
        border-radius: 4rem 4rem 22rem 4rem;
        border: solid;
    }
}

